* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.app__login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 30px;
}

.app__login-container {
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    perspective: 2700px;
}

.app__login-container .app__login-cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1.2s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.app__login-container #flip:checked~.app__login-cover {
    transform: rotateY(-180deg);
}

.app__login-container .app__login-cover .app__login-front,
.app__login-container .app__login-cover .app__login-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.app__login-cover .app__login-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.app__login-container .app__login-cover::before,
.app__login-container .app__login-cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #a2c2df;
    opacity: 0.5;
    z-index: 12;
}

.app__login-container .app__login-img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.app__login-container .app__login-cover .app__login-text .text-1,
.app__login-cover .app__login-text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.app__login-cover .app__login-text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.app__login-container .app__login-forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.app__login-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 -25px);
}

.app__login-forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.app__login-forms .form-content .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #d4af37;
}

.app__login-forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    overflow: none;
    border: none;
    padding: 0 50px;
    /* margin-left: 10px; */
    font: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border: #d4af37;
}

.form-content .input-box svg {
    margin-left: 2px;
    position: absolute;
    color: #d4af37;
    font-size: 17px;
}

.app__login-forms .form-content .text {
    font: 14px;
    font-weight: 500;
    color: #d4af37;
}

.app__login-forms .form-content .text a {
    text-emphasis: none;
    color: #d4af37;
}

.app__login-forms .form-content .text a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.app__login-forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.app__login-forms .form-content .button input {
    color: #fff;
    background-color: #d4af37;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__login-forms .form-content .button input:hover {
    background: #806306;
}

.app__login-forms .form-content label:hover {
    text-decoration: underline;
}

.app__login-forms .form-content .login-text,
.app__login-forms .form-content .signup-form {
    text-align: center;
    margin-top: 25px;
}

.app__login-container #flip {
    display: none;
}

.app__login-volver {
    margin-top: 5px;
    font-size: 12px;
    margin-left: 20rem;
}

@media (max-width: 730px) {
    .app__login-container .app__login-cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .app__login-container #flip:checked~.app__login-forms .signup-form {
        display: block;
    }

    .app__login-container #flip:checked~.app__login-forms .login-form {
        display: none;
    }
}