.app__inputCta {
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 1rem;
    margin: 2 rem;
    background-color: black;
}

/* Este codigo sirve para acomodar los sitios */
.app__inputContent {
    display: flex;
    width: 100%;
    border-radius: 20px solid orange;
}

.app__inputContent h2 {
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

.app_inputBtn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 3rem;
}

.app_inputBtn button {
    margin-left: 1rem;
    background: black;
    color: white;
    cursor: pointer;
    border: 1px solid white;

    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 0.2rem 1rem;
}

.app_inputBtn button:hover {
    color: black;
    background-color: white;
}

/* Responsive */
@media screen and (max-width: 650px) {
    .app__inputCta {
        width: auto;
        padding: 0.5rem;
    }

    .app_inputBtn button {
        font-size: 15px;
        padding: 0.2rem 0.5rem;
    }

    .app__inputContent h2 {
        margin-left: 1rem;
        font-size: 12px;
    }
    
}
