.app__home-section {
    position: relative;
}

.app__home-section img {
    width: 100%;
}

.app__home-section h1 {
    position: absolute;
    top: 40%;
    left: 10%;

    color: white;
    font-size: 64px;
    font-family: var(--font-family);
}

.app__home-section h3 {
    position: absolute;
    top: 50%;
    left: 10%;

    color: white;
    font-size: 40px;
    font-family: var(--font-family);
}

.app__home-section button {
    position: absolute;
    top: 60%;
    left: 10%;

    color: black;
    font-size: 40px;
    font-family: var(--font-family);

    padding: 0.5rem 1.5rem;
    border: 1px solid black;
}

.app__home-icon {
    font-size: 25px;
    margin-left: 1rem;
}
  

.app__home-section button:hover {
    transition: all 0.7s ease;
    position: absolute;
    top: 60%;
    left: 10%;

    color: white;
    font-size: 38px;
    font-family: var(--font-family);
    background-color: black;

    padding: 0.6rem 1.6rem;
    border: 1px solid white;
}

/* Responsive */
@media screen and (max-width: 650px) {
    .app__home-section img {
        width: 100%;
    }   
    
    .app__home-section h1 {
        font-size: 21px;
    }

    .app__home-section h3 {
        font-size: 18px;
    }

    .app__home-section button {
        color: black;
        font-size: 15px;
    
        padding: 0.1rem 0.2rem;
        border: 0.5px solid black;
    }

    .app__home-section button:hover {    
        color: white;
        font-size: 15px;

        background-color: black;
    
        padding: 0.1rem 0.2rem;
        border: 0.5px solid white;
    }

    .app__home-icon {
        font-size: 10px;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 883px) {
    .app__home-section h1 {
        font-size: 23px;
    }

    .app__home-section h3 {
        font-size: 21px;
    }

    .app__home-section button {
        color: black;
        font-size: 18px;
    
        padding: 0.2rem 0.4rem;
        border: 0.5px solid black;
    }

    .app__home-section button:hover {    
        color: white;
        font-size: 18px;

        background-color: black;
    
        padding: 0.2rem 0.4rem;
        border: 0.5px solid white;
    }

    .app__home-icon {
        font-size: 10px;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .app__home-section h1 {
        font-size: 50px;
    }

    .app__home-section h3 {
        font-size: 35px;
    }

    .app__home-section button {
        color: black;
        font-size: 35px;
    
        padding: 1rem 4rem;
        border: 0.5px solid black;
    }

    .app__home-section button:hover {    
        color: white;
        font-size: 35px;

        background-color: black;
    
        padding: 1rem 4rem;
        border: 0.5px solid white;
    }

    .app__home-icon {
        font-size: 25px;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
}