* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app__register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, whitesmoke, gray);
}

.app__register-container {
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.app__register-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.app__register-container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #D4AF37, #D4AF37);
}

.app__register-content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 -20px);
}

form .input-box span .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #D4AF37;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #D4AF37;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #D4AF37, #D4AF37);
}

form .button input:hover {
    background: linear-gradient(-135deg, #D4AF37, #D4AF37);
}

@media screen and (max-width: 500px) {
    .app__register-container {
        max-width: 100%;
        display: none;
        overflow: hidden;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }

}



@media screen and (max-width: 459px) {
    .app__register-container {
        display: block;
    }

    .app__register-content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
}


 @media screen and (max-width: 459px) {
    .app__register {
        display: block;
    }

    .app__register-content {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .app__register-container .app__register-content .category {
        display: flex;
        flex-direction: column;
    }

    .user-details .input-box input {
        font-size: 12px;
    }

    .app__register-container {
        margin: 0 0 10%;
    }

}