* {
    font-family: var(--font-family);
}

.app__services {
    display: flex;
    flex-direction: row;

    padding: 4rem 0 4rem 6rem;
}

.app__services-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Acomodar los elementos en columna */
    flex-direction: column;
    min-width: 500px;
    padding-right: 2rem;
}
.app__services-content h1 {
    color: goldenrod;
}

.app__services-content h2 {
    margin-top: 2rem;
    color: goldenrod;
}

.app__services-content p {
    margin-top: 1rem;
}

.app__services-content button {
    margin-top: 1rem;

    padding: 20px;
    background-color: goldenrod;
}

.app__services-content button:hover {
    transition: all 0.6 ease;
    padding: 21px;
    background-color: gold;
}

.app__services-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
}

.app__services-images_container {
    display: flex;
    width: max-content;
    /* Añadir un scroll para las imagenes */
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Quitar el scroll para el usuario */
    scrollbar-width: none;
}

.app__services-images_container::-webkit-scrollbar {
    display: none;
}

.app__services-images_card {
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}

.app__services-images_card img {
    width: 100%;
    height: 100%;
    /* Para que no se distorsione */
    object-fit: cover;
    transition: 0.5s ease;
}

.app__services-images_card:hover img {
    opacity: 0.35;
    cursor: pointer;
}

.app__services-images_arrow {
    width: 100%;
    display: flex;
    /* Separar las flechas */
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
}

.services__arrow-icons {
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.services__arrow-icons:hover {
    font-size: 2.2rem;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

/* Responsive */
@media screen and (min-width: 2000px) {
    .app__services-content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .app__services-images_card {
        min-width: 400px;
        height: 550px;
    }
}

@media screen and (max-width: 1150px) {
    .app__services {
        flex-direction: column;
    }

    .app__services-content {
        margin-left: 2rem;
    }

    .app__services-images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .app__services {
        padding: 4rem 0 4rem;
    }
}

@media screen and (max-width: 650px) {
    .app__services {
        padding: 4rem 0 4rem;
    }

    .app__services-content {
        min-width: 100%;
    }

    .app__services-images_card {
        min-width: 200px;
        object-fit: cover;
    }
}