.app__footer {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    background-color: black;
    padding-top: 0;
}

.app__footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 5rem;
    padding: 0 2rem;
    color: white;

    font-family: var(--font-family);
}

.app__footer-links_contact {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app__footer-links_work p {
    margin-top: 1rem;
}

.app__footer-links_contact h4 {
    color: white;
    font-family: var(--font-family);
    margin-top: 1rem;
}

.app__footer-links_contact p {
    color: white;
    font-family: var(--font-family);
    margin-top: 1rem;
}

.app__footer-links_icons svg{
    color: var(--color-white);
    margin: 0.5;
    font-size: 30px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
}

.app__iconFacebook:hover {
    color: blue;
}

.app__iconTwitter:hover {
    color: skyblue;
}

.app__iconInstagram:hover {
    color: purple;
}

.app__footer-links_logo img:first-child {
    width: 210px;
    margin-bottom: 0.75rem;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .app__footer-links {
        flex-direction: column;
        font-size: 15px;  
    }
}

@media screen and (max-width: 650px) {
    .app__footer-links {
        flex-direction: column;
        font-size: 20px;  
        width: auto;
    }
}

@media screen and (max-width: 414px) {
    .app__footer-links {
        flex-direction: column;
        font-size: 10px; 
        /* Gracias a width se pudo acomodar todo el footer =D */
        width: auto;
        /* Centrar un elemento =D */
        margin: 0 auto;
        font-size: 10px;
    }

    .app__footer-links_logo {
        margin: 0 auto;
    }

    .app__footer-links_logo img:first-child {
        width: 150px;
        margin: 0 auto;
    }

    .app__footer-links_icons svg {
        font-size: 15px;
        padding: 0;
    }
}
