.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.app__navbar-logo img {
    width: 160px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}

.app__navbar-links li {
    margin: 0 1.2rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app__navbar-links li:hover {
    color: var(--color-golden);
    text-decoration: underline;
}

/* Ocultar el icono de menu para dispositivos celulares */
.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen-links {
    list-style: none;
    background-color: white;
}

.app__navbar-smallscreen-links li {
    margin: 2.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: start;
}

.overlay__close,
.app__navbar-smallscreen_overlay {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay__close {
    margin-right: 5px;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    transform: 2s ease;
    z-index: 5;
}

/* Responsive */
@media screen and (max-width: 2000px) {
    /* .app__navbar-logo img {
        width: 210px;
    } */
}

@media screen and (max-width: 1150px) {
    /* Ocultar los links del nav */
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-logo img {
        width: 110px;
    }
}
