* {
    font-family: var(--font-family);
}

.app__info-content h1 {
    font-size: 50px;
    color: goldenrod;
    text-align: center;
}

.app__info-content h2 {
    font-size: 30px;
    color: goldenrod;
    text-align: center;
}


.app__info-content h3 {
    margin-left: 5rem;
    margin-bottom: 5rem;
    font-size: 25px;
}

.app__info-content p {
    text-align: justify;
    margin: 5rem 5rem 5rem 5rem;
    font-size: 18px;
    font-style: italic;
}

.app__info-icons {
    color: goldenrod;
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
    flex-direction: column;
}

.app__info_pay {
    display: flex;
    margin-top: 4rem;
}

.app__info_pay svg {
    margin-left: 3rem;
    color: goldenrod;
    font-size: 50px;
}

@media screen and (max-width: 850px) {
    .app__info-content h3 {
        font-size: 15px;
    }

    .app__info_pay svg {
        margin-left: 3rem;
        color: goldenrod;
        font-size: 30px;
    }
}

@media screen and (max-width: 850px) {
    .app__info-content h3 {
        margin: 5px;
    }

    .app__info_pay svg {
        flex-direction: row;
        font-size: 20px;
        margin: 0;
        margin-right: 1rem;
    }
}